{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Games{% endblock %}

{% block custom_css %}
    <link href="{% static 'css/jumbotron.css' %}" rel="stylesheet">
    <link href="{% static 'css/offcanvas.css' %}" rel="stylesheet">
{% endblock %}

{% block custom_content %}

    <div class="container">

      <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
        <div class="table-responsive">
            <table class="table table-striped">
              <tbody>
              {% for game in games.object_list %}
                  <tr>
                      <td><img style="width: 150px;height: 100px" src="{{ MEDIA_URL }}{{ game.cover }}">&nbsp;&nbsp;<a style="font-size: large;font-weight: bolder" href="{% url 'game:detail' game.id%}">{{game.name}}</a></td>
                      <td style="vertical-align: middle !important;text-align: center;"><span style="font-weight: bolder;font-size: large;color: green">{{game.price}}&nbsp;¥</span></td>
                  </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">

          <div class="list-group">
            <a href="" class="list-group-item disabled" style="font-weight: bolder;background-color: #93c4e8">PT</a>
            <a href="?sort=price" class="list-group-item {% ifequal sort "price" %}active{% endifequal %}">Price ↑</a>
            <a href="?sort=price_desc" class="list-group-item {% ifequal sort "price_desc" %}active{% endifequal %}">Price ↓</a>
            <a href="?sort=buy" class="list-group-item {% ifequal sort "buy" %}active{% endifequal %}">Top Buy</a>
          </div>
          <div class="list-group">
            <a href="#" class="list-group-item disabled" style="font-weight: bolder;background-color: #93c4e8">Category</a>
            {% for type in all_type %}
                <a href="?type={{ type.id }}&company_id={{ company_id }}" class="list-group-item {% ifequal type_id type.id%}active{% endifequal %}">{{ type.name }}</a>
            {% endfor %}
          </div>
          <div class="list-group">
            <a href="#" class="list-group-item disabled" style="font-weight: bolder;background-color: #93c4e8">Company</a>
            {% for company in all_company %}
                <a href="?type={{ type.id }}&company_id={{ company.id }}" class="list-group-item {% ifequal company_id  company.id%}active{% endifequal %}">{{ company.name }}</a>
            {% endfor %}
          </div>
          <div class="list-group">
            <a href="#" class="list-group-item disabled" style="font-weight: bolder;background-color: #93c4e8">Year</a>
            {% for year in  all_year %}
                <a href="?&year={{ year }}" class="list-group-item {% ifequal year year_%}active{% endifequal %}">{{ year }}</a>
            {% endfor %}
          </div>
        </div>
      <nav aria-label="Page navigation">
      <ul class="pagination">
        <li>
            {% if games.has_previous %}
                <a href="?{{ games.previous_page_number.querystring }}" aria-label="Previous">
                 previ
                </a>
            {% endif %}


        </li>
        {% for page in games.pages %}
            {% ifequal page games.number %}
                <li class="active"><a href="?{{ page.querystring }}">{{ page }}</a></li>
            {% else %}
                 <li><a href="?{{ page.querystring }}">{{ page }}</a></li>
             {% endifequal %}
         {% endfor %}
        <li>
            {% if games.has_next %}
                <a href="?{{ games.next_page_number.querystring }}" aria-label="Next">
                    next
                </a>
             {% endif %}
        </li>
      </ul>
    </nav>

      </div>


    </div>

{% endblock %}


{% block custom_js %}
    <script src="{% static 'js/offcanvas.js' %}"></script>
{% endblock %}